<ActionBar [title]="'SwiftUI ' + titleDisplay()" class="action-bar">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

@switch (title()) { @case ('text') {
<ListView [items]="textItems" [sections]="textSections" listStyle="insetGrouped">
  <ng-template let-item="item">
    <GridLayout class="px-4 py-3 bg-white" marginRight="40">
      <Text [text]="item.label" [modifiers]="item.modifiers" class="h-[30] h-left text-left"></Text>
    </GridLayout>
  </ng-template>
</ListView>
} @case ('buttons') {
<ListView [items]="buttonItems" [sections]="buttonSection" listStyle="insetGrouped">
  <ng-template let-item="item">
    <GridLayout class="p-2 bg-white h-[80]" columns="*" marginRight="40">
      <SUIButton [title]="item.buttonTitle" [modifiers]="item.buttonModifiers" (swiftUIEvent)="buttonTap($event)" class="h-[65]">
        <SUILabel [title]="item.labelTitle" [systemImage]="item.systemImage" class="h-[65]" [modifiers]="item.labelModifiers" [visibility]="item.labelTitle ? 'visible' : 'hidden'"></SUILabel>
      </SUIButton>
    </GridLayout>
  </ng-template>
</ListView>
} @case ('colors') {
<ListView [items]="colorItems" [sections]="colorSection" listStyle="insetGrouped">
  <ng-template let-item="item">
    <GridLayout class="p-6 bg-white h-[60]" columns="auto,*" marginRight="40">
      <Color width="25" height="25" [color]="item.color" [modifiers]="item.modifiers" class="ml-2"></Color>
      <Text col="1" [text]="item.label" class="h-left text-left"></Text>
    </GridLayout>
  </ng-template>
</ListView>
} @case ('controls') {
<StackLayout class="p-6">
  <Label class="text-center">Slider: {{ demoShared.sliderValue }}</Label>
  <SUISlider [value]="3" step="1" labelText="Slider Label" [range]="[0, 100]" (swiftUIEvent)="demoShared.sliderChange($event)" class="h-[75]"></SUISlider>
  <GridLayout columns="*,auto,auto,*" class="h-[60]">
    <Label col="1" class="">Stepper:</Label>
    <!-- <Label col="2" class="">demoShared.stepperCount</Label> -->
    <Text col="2" [text]="demoShared.stepperCount" fontSize="18" fontWeight="bold" color="white" [modifiers]="demoShared.stepperCountModifiers" class="h-[100] w-[40]"></Text>
  </GridLayout>
  <Stepper class="rounded-r-full h-center text-center bg-pink-100 h-[75] mb-2" (swiftUIEvent)="demoShared.stepperChange($event)"></Stepper>

  <GridLayout columns="*,auto,auto,*" class="h-[60]">
    <Label col="1" class="">Toggle: </Label>
    <Label col="2" class="">{{ demoShared.toggleValue }}</Label>
    <!-- <Text col="2" [text]="demoShared.toggleValue" fontSize="18" fontWeight="bold" color="white" class="h-[100]"></Text> -->
  </GridLayout>
  <Toggle [isOn]="demoShared.toggleValue" label="Toggle Switch" toggleStyle="switch" (swiftUIEvent)="demoShared.toggleChange($event)" class="h-[50] w-[300]"></Toggle>
  <Toggle [isOn]="demoShared.toggleValue" label="Toggle Button" toggleStyle="button" (swiftUIEvent)="demoShared.toggleChange($event)" class="h-[50] w-[300]"></Toggle>
  <Toggle [isOn]="demoShared.toggleValue" label="Toggle Default" (swiftUIEvent)="demoShared.toggleChange($event)" class="h-[50] w-[300]"></Toggle>
</StackLayout>
} @case ('images') {
<GridLayout columns="*,auto,auto,auto,auto,auto,*">
  <ImageView col="1" systemName="trash" foregroundStyle="orange" imageScale="large" [bold]="true" class="h-[50] w-[50]"></ImageView>
  <ImageView col="2" systemName="plus" foregroundStyle="blue" imageScale="large" [bold]="true" class="h-[50] w-[50]"></ImageView>
  <ImageView col="3" systemName="phone" foregroundStyle="purple" imageScale="large" [bold]="true" class="h-[50] w-[50]"></ImageView>
  <ImageView col="4" systemName="arrow.right" foregroundStyle="green" imageScale="large" [bold]="true" class="h-[50] w-[50]"></ImageView>
  <ImageView col="5" systemName="person.fill" foregroundStyle="teal" imageScale="large" [bold]="true" class="h-[50] w-[50]"></ImageView>
</GridLayout>
} @case ('lists') {
<GridLayout rows="auto,*">
  <GridLayout class="h-[60] p-2 bg-gray-100">
    <Picker [selection]="demoShared.listSelectionType" [options]="demoShared.listTypeOptions" pickerStyle="segmented" (swiftUIEvent)="demoShared.listStyleChange($event)"></Picker>
  </GridLayout>
  <List row="1" [sections]="listSectionsInset" [listStyle]="demoShared.listSelectionType" iosOverflowSafeArea="true" [environment]="{ colorScheme: 'light' }"></List>
</GridLayout>
} @case ('pickers') {
<StackLayout class="p-4 bg-gray-100">
  <StackLayout class="rounded-xl bg-white px-4">
    <ColorPicker title="Color" selection="red" (swiftUIEvent)="demoShared.colorChange($event)" class="h-[75]"></ColorPicker>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <GridLayout columns="*,auto" class="h-[75]">
      <Label class="text-left">Date</Label>
      <DatePickerView col="1" [selection]="todayDate" title="Date" [displayedComponents]="['date', 'hourAndMinute']" (swiftUIEvent)="demoShared.pickerChange($event)" class="h-[75] w-[200]"></DatePickerView>
    </GridLayout>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <StackLayout>
      <Label class="text-left">Segmented</Label>
      <Picker selection="red" [options]="['red', 'green', 'blue']" pickerStyle="segmented" (swiftUIEvent)="demoShared.pickerChange($event)" class="h-[75]"></Picker>
    </StackLayout>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <StackLayout class="h-[150]">
      <Label class="text-left">Wheel</Label>
      <Picker selection="red" [options]="['red', 'green', 'blue']" pickerStyle="wheel" (swiftUIEvent)="demoShared.pickerChange($event)" class="h-[150]"></Picker>
    </StackLayout>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <GridLayout columns="*,auto" class="h-[75]">
      <Label class="text-left">Menu</Label>
      <Picker col="1" selection="red" [options]="['red', 'green', 'blue']" pickerStyle="menu" (swiftUIEvent)="demoShared.pickerChange($event)" class="h-[75] w-[100]"></Picker>
    </GridLayout>
  </StackLayout>
</StackLayout>
} @case ('progress') {
<ListView [items]="progressItems" [sections]="progressSection" listStyle="insetGrouped">
  <ng-template let-item="item">
    <StackLayout class="p-6 bg-white h-[100]" rows="*,auto" marginRight="40">
      <Label [text]="item.label" class="text-left"></Label>
      <Progress row="1" [value]="item.value" [total]="item.total" [tint]="item.tint"></Progress>
    </StackLayout>
  </ng-template>
</ListView>
} @case ('shapes') {
<ListView [items]="shapeItems" [sections]="shapeSection" listStyle="insetGrouped">
  <ng-template let-item="item">
    <GridLayout class="p-6 bg-white h-[80]" columns="*,auto" marginRight="40">
      <Label [text]="item.label" class="text-left"></Label>
      <Shape col="1" width="50" height="50" class="h-right text-right" [type]="item.type" [fill]="item.fill" [stroke]="item.stroke" [cornerRadius]="item.cornerRadius || 0" [cornerRadii]="item.cornerRadii" [frame]="item.frame"></Shape>
    </GridLayout>
  </ng-template>
</ListView>
} @case ('textfield') {
<StackLayout class="p-4 bg-gray-100">
  <StackLayout class="rounded-xl bg-white px-4">
    <SUITextField placeholder="Enter your username..." [text]="demoShared.username" class="h-[50]" (swiftUIEvent)="demoShared.usernameChange($event)"></SUITextField>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <SUITextField placeholder="Enter your password..." [text]="demoShared.password" type="securefield" class="h-[50]" (swiftUIEvent)="demoShared.passwordChange($event)"></SUITextField>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <SUITextField placeholder="Confirm your password..." [text]="demoShared.password" type="securefield" class="h-[50]" (swiftUIEvent)="demoShared.passwordChange($event)"></SUITextField>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <SUITextField placeholder="Description..." [text]="demoShared.bio" type="texteditor" class="h-[120]" (swiftUIEvent)="demoShared.bioChange($event)"></SUITextField>
    <ContentView class="h-[1] bg-gray-100 w-full my-2"></ContentView>
    <GridLayout rows="auto,auto,auto" columns="*" class="p-2">
      <Label class="text-center mb-1">Username: {{ demoShared.username }}</Label>
      <Label row="1" class="text-center mb-1">Password: {{ demoShared.password }}</Label>
      <Label row="2" class="text-center mb-1">Bio: {{ demoShared.bio }}</Label>
    </GridLayout>
  </StackLayout>
</StackLayout>
} @default {
<GridLayout class="p-6" rows="auto,auto" columns="*,120,120,*"> </GridLayout>
} }
